@charset "utf-8";

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-weight: normal;
}

header {
    padding: 10px 15px;
    /*margin-bottom: 20px;*/
    height: 35px;
    background-color: #003333;
    color: #fff;
}

#conteudo {
    padding: 0px 8px
}

footer {
    padding: 0px 8px;
    margin-bottom: 10px
}

h1 {
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
    margin: 0px
}

#login-dialog {
    width: 290px;
    margin: auto;
    margin-top: 150px;
}

.grid-login {
    background-color: #f2f2f2;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding: 10px
}

.menu-sistema {     
    border: 0px !important;     
    padding: 0px !important;     
    background: none !important; 
}  

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {     
    color: #ffffff !important;
    font-size: 13px;
    font-weight: bold;
}

#bt-painel-usuario.menu-sistema > ul > li > ul {
    width: 90px !important;
}

.menu-sistema > ul > li > ul {
    width: 190px !important;
}

.titulo-pagina {
    float: left;
}

.titulo-pagina h1 {
    font-weight: 600;
}

.ui-shadow {
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.8) !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25) !important;
}

.tollbartabela .ui-widget-header {
    margin-top: 15px;
    padding: 0.6em;
    color: #000000;
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: gray;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 5px 5px 0px 0px;
    border-bottom-width: 0px;
}

.tollbartabela .ui-inputfield {
    border: 1px solid GRAY;
    color: #000000;
}

.tabela .ui-state-default {
    border-color: gray;
}

.tabela .ui-icon {
    background-image: url(/sgparcat/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-excite-bike);
}

.opcoes-right .ui-icon {
    background-image: url(/sgparcat/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-excite-bike);
}

.tollbartabela .tollbarbotao {
    border: none;
    background: none;
    border-right-width: 1px;
    border-right-style: outset;
    color: gray;
    font-weight: 600;
}

.tollbartabela .tollbarbotao:hover {
    color: #1484e6;
    cursor: pointer;
}

.tollbartabela .ativo {
    color: #0300b7;
}

.painel-dados .ui-widget-content {
    border: 0;
    background: none;
}

.painel-cadastros .ui-panel-titlebar {
    padding: 5px 10px !important;
}

.painel-cadastros .ui-widget-header {
    color: #003333 !important;
    background: #e0e0e0;
    border: none;
    border-bottom-color: rgb(202, 136, 136);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0;
}

.campo-cadastro{
    display:inline-block;
    width: 49.5%;
    margin-top: 10px;
}

.campo-cadastro > label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.campo-cadastro > input {
    display: block;
    width: 90%;
}

@media (max-width:800px) {
    .campo-cadastro{
        width: 100%;
    }
}
/*.icon-bt-adicionar {
    background-image: url(/sgparcat/resources/imagens/bt-adicionar16.png) !important;
}

.icon-bt-remover {
    background-image: url(/sgparcat/resources/imagens/bt-remover.png) !important;
}

.icon-bt-editar {
    background-image: url(/sgparcat/resources/imagens/bt-editar.png) !important;
}*/